/* Base Styles */
.section {
  font-family: "Arial", "Helvetica", sans-serif;
  line-height: 1.5;
  width: 95%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  position: relative;
  gap: 32px;
}

/* Common Text Styles */
.section-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 8px;
}

.section-description {
  color: #7b7a7a;
  line-height: 1.3;
}

/* Social Links Component */
.social-links {
  display: flex;
  gap: 10px;
}

.social-link {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: rgb(177, 177, 177);
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #ff6200;
}

/* About Section */
#about {
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.about-content {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  max-width: 900px;
}

.about-gif {
  width: 30%;
  height: auto;
}

.about-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 800px;
  text-align: left;
  color: #000;
}

/* Background Section */
#background {
  max-width: 900px;
  margin-bottom: 120px;
  flex-direction: column;
  gap: 0;
}

.job .header {
  font-weight: bold;
  color: #000;
}

.job p {
  color: #8b8a8a;
}

/* Scrollable Sections (Projects, Blog, Coding) */
.scrollable-section {
  display: flex;
  overflow-x: auto;
  gap: 30px;
  scroll-behavior: smooth;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 50px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  width: 100%;
  margin-bottom: 200px;
}

.scrollable-section::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Description Card (Common for Projects, Blog, Coding) */
.description-card {
  padding-top: 50px;
  min-width: 20%;
  max-width: 20%;
}

/* Content Cards (Common for Projects, Blog, Coding) */
.content-card {
  flex: 0 0 70%;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content-card img {
  width: 100%;
  height: auto;
  display: block;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-items: space-between;
  height: 100%;
  padding: 20px;
  padding-top: 5px;
}

/* Button Styles */
.card-button {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  color: #ff6200;
  font-weight: 600;
  font-size: 15px;
  border: 0.5px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  text-decoration: none;
}

.card-button:hover {
  background-color: #f7f7f7;
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  z-index: 999999;
  justify-content: center;
  align-items: center;
  font-family: "Arial", "Helvetica", sans-serif;
}

.modal-content {
  background-color: #fff;
  padding: 20px 10%;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  text-align: left;
  box-sizing: border-box;
  position: relative;
}

.modal-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  padding: 24px 10%;
  z-index: 1001;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
  font-size: 20px;
}

#closeModal {
  font-size: 24px;
  font-weight: 300;
  background: none;
  border: none;
  color: #bab4b4;
  cursor: pointer;
}

#closeModal:hover {
  color: #ff6200;
}

.modal-open {
  overflow: hidden;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
  width: 100%;
}

.blog-card-content {
  flex-grow: 1;
}
